* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.deepspace {
  position: relative;
  margin: 0 auto;
  width: 640px;
  height: 480px;
  background-image: url('../images/background.jpeg');
  background-size: cover;
}

.wiskyblock {
  position: absolute;
  width: 350px;
  height: 350px;
  transform: rotate(25deg);
  bottom: 0;
}

.wisky {
  position: relative;
  width: 350px;
  height: auto;
}

.man2 {
  position: relative;
  height: 150px;
  width: auto;
  bottom: 200px;
  left: 33px;
  transform: rotate(-2deg);
}

.man1 {
  position: absolute;
  right: 20px;
  bottom: 0;
  height: 200px;
  width: auto;
}

.planets {
  position: absolute;
  right: 50px;
  height: 100%;
  opacity: 0.9;
}

.ufo {
  position: absolute;
  width: 150px;
  height: auto;
  left: 150px;
  top: 100px;
}

.audio {
  width: 100vw;
  text-align: center;
}
