:root {
  --input-text: #888;
  --hovered-color: rgb(100, 193, 255);
  --animation-duration: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Geneva, sans-serif;
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
}

form {
  color: var(--input-text);
  display: flex;
  padding: 20px;
  flex-direction: column;
}

form p {
  margin-top: 20px;
}

form input,
form select,
form textarea {
  color: var(--input-text);
  background-color: rgba(220, 220, 220, 0.1);
  height: 30;
  padding: 7px 5px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: all var(--animation-duration) linear;
}

form input::placeholder,
form select::placeholder,
form textarea::placeholder {
  transition: all var(--animation-duration) linear;
  color: var(--input-text);
}

form input:hover,
form select:hover,
form textarea:hover {
  border: 1px solid var(--hovered-color);
  background-color: transparent;
  color: var(--hovered-color);
}

form input:hover::placeholder,
form select:hover::placeholder,
form textarea:hover::placeholder {
  color: var(--hovered-color);
}

form input:focus,
form select:focus,
form textarea:focus {
  outline: none;
}

form .buttonwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

form button[type="submit"] {
  width: 250px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(39, 124, 158);
  color: #fff;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: rgb(17, 86, 114);
}

aside {
  color: red;
  display: block;
  width: 100%;
  text-align: right;
}

aside a {
  color: red;
  padding: 0px 3px;
}
